@import "jeet"
@import "rupture"
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Open+Sans|Ubuntu|Macondo')
*
  box-sizing: border-box
  position: relative


.head
  column(1)
  border-bottom: 1px solid silver
  background white
  .container
    center(1020px)
    margin-top 0
    border-bottom: 1px solid silver
  .title
    column(1/4)
    h1
      column(1)
      bold()
      font-family: 'Architects Daughter'
      color maroon
  .menu
    font-family: 'Ubuntu'
    ul
      column(3/4)
      inline-list()
      li
        cursor: pointer
        padding: 15px
        float: right
      .write
        color green
        text-decoration: none
.content
  column(1)
  .container
    center(960px)
    margin-top 0
.writeStory
  column(1)
  font-family: Ubuntu
.writer
  column(11/12,$offset:1/12)
  margin-top: 5vh
  i
    font-size: 3em
  span
    margin-top: 0px
    font-size: 2em
.genre
  column(11/12,$offset:1/12)
.story
  column(1)
  padding-top 50px
.storyPart
  column(1)
.storymenu
  column(1/12)
  font-size: 1.5em
  color: maroon
  padding: 15px
  i
    cursor: pointer
    transition: all .5s
.act
    transform: rotateZ(90deg)
.storyData
  column(11/12)
.text
.hiddenDiv
  font-family: 'Ubuntu'
  column(1)
  word-wrap: break-word
  overflow-wrap: break-word
  white-space: pre-wrap
.text
  overflow: hidden
  border none
  resize none
  outline: none
.hiddenDiv
  position absolute
  margin-left -9999px
  visibility hidden
.titleText
  font-size: 2em
  color navy
  bold()
.subTitle
  font-size: 1.7em
  bold()
.paragraph
  font-family Open Sans
  fs: 1.3em
  normal()
  margin-bottom 20px
.quote
  border-left 3px solid blue
  padding-left 20px
  fs: 1.3em
  font-family Macondo
  italic()
  margin-bottom 20px
.code
  fs: 1.3em
  font-family Consolas
  margin-bottom 20px
  background silver
.tooltip
  inline-list()
  position: absolute
  height: 1.5em
  z-index: 1
  transform:translate(25px,-25px)
  padding .2em
  li
    cursor: pointer
    text-align: center
    width: 50px
    height: 50px
    rounded()
    background: gray
    color maroon
    border 1px solid white
    font-size: .7em
    margin 0px 5px
    padding:15px
    &:hover
      background: maroon
      color: white
.activeStyle
  background: maroon
  color: white
.writeStorybtn
  color green
.publish
  button()
.gallary
  column(1)
.tiles
  span(3/4)
  height 50vh
.tile
  font-family Ubuntu
  column(1)
  height 500px
  margin 20px
  margin-left 0
  padding 20px
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)
  border-radius 5px
.tag
  column(1)
  color green
  height 10%
.author
  column(1)
  height 10%
  i
    color navy
    font-size 2em
    column(1/16)
  .desc
    column(10/12)
    span
      font-size 1em
      color red
    .time
      font-size 0.7em
      color gray
.showoff
  column(1)
  height 70%
  cursor pointer
  .titl
    column(1)
    color black
    font-size 1.5em
    bold()
  .info
    color gray
.footer
  column(1)
  height 10%
  .like
    column(7/10)
    color red
    font-size 1.2em
  .comment
    column(3/10)
    color gray
.readPost
  column(1)
  font-family Ubuntu
.readstory
  column(11/12,$offset:1/12)
  padding 20px 0px
.readPara
  margin-bottom 30px
.commentSec
  column(1)


.side
  margin 20px 0px
  span(1/4)
  background green
