@import "jeet"
@import "rupture"
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Open+Sans|Ubuntu')
*
  box-sizing: border-box
  position: relative

.head
  column(1)
  border-bottom: 1px solid silver
  .container
    center(1020px)
    margin-top 0
    border-bottom: 1px solid silver
  .title
    column(1/4)
    cursor: pointer
    h1
      column(1)
      bold()
      font-family: 'Architects Daughter'
      color black
  .menu
    font-family: 'Ubuntu'
    ul
      inline-list()
      li
        cursor: pointer
        padding: 15px
        float: right
      .write
        color green
        text-decoration: none
.content
  column(1)
  .container
    center(960px)
    margin-top 0
.text
.hiddenDiv
  font-family: 'Ubuntu'
  font-size: 1.5em
  bold()
  column(1)
.text
  overflow: hidden
  border none
  resize none
  outline: none
.hiddenDiv
  column(1)
  white-space: pre-wrap
  word-wrap: break-word
  overflow-wrap: break-word
  position absolute
  margin-left -9999px
  visibility hidden
